body{
  background-image:  url('images/bg.jpg');
  font-family: 微軟正黑體;
}

.container{
  background-color: rgb(240, 136, 217);
}

#shop_head{
  margin-bottom: 15px;
}

#shop_main{
  min-height: 200px;
}

#shop_foot{
 background-color: rgb(102, 56, 146);
 color: #fff;
 padding: 30px;
 line-height: 1.8;
 margin: 15px 0px;
}